<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
          xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                      <KeyName>Rsa Key</KeyName>
                  </KeyInfo>
                  <CipherData>
                      <CipherValue>BBbA/xl2zmqpRKNQ1xmR7yz1htdTMKpi/YEw/dbnHIZ1Q8gA0kXGL42CbxuK+eoQ/e9y35/0elPNlxi/iIL7ZuOgQd5CfW8E63VNkOk+SGrZ/whdIFo1VMOGWABPVBkz7xvHUAN9P1nLMMqeiZ64MWlq9/8Naz2fGU38BYnLjGP2iQmm8ZZ8FOj81MF2hAxygaqemCPi5HIlXTHzo0VaLN5pDxIYQsw041BMsb6GMbOkc+BhgSv8df/CDo0N0UZul9BrRh1Pa1kreeo1877NY+TVb3mIUM2e8uz1m0dr4JoiYTgLu1zx2upCp9UNy0vnsyNewuTLD8S92l1+nDxBwg==</CipherValue>
                  </CipherData>
              </EncryptedKey>
          </KeyInfo>
          <CipherData>
              <CipherValue>mlvve+ALttb/FpcQCUpLAfFPcn7XhtSI5Xm1AvMbE5tQeJFWlZkg9ZjU4QL2dJOu4m4fugMVQnpJISWLV0ZoDcFzO0TKbeTQ8FytTEADC8soUgtVSBLYjZtXbBji1yZ+T7KW7hVMvFZPW4hq6wy6y3hkSCvOFlDCsbvJV3fxD5gdpugtXxwjyI2+X8BNNHRXKVFl7jUkrR1EcAnbO+0plXoJ2/vg4ZE39NuaOYAnWTiNvTWVKms6yIqXXOAwbuQKw/38RFcXOHpGKQD0qa5Vp3fS3WnDCIrP1G0u5CtauF0/qRo/nVNZcY/uL+K+GTSFqXXzWxnPwVHaEHsXyjDW8xc3+xkAoFUuDQ/sCxHGxLcVMlJJFDAHLmTuCZXBeN7CxMJ3mnqnTkdy/lLhxdyOS0MF5+xViPnoVhb5UZwLgiIMET/0B8hIImTfTyf5Weh8N78fnH/ID5Kwi+0QVjOTQJa7UG3+qsGnnXfgiQRyMjzYO0/qNPY+IBgUOVwf0pDTSNNrpY9WcUa2c8Fp63wdv20exQ5sQR/AkIF0WF88bORQfpf50D/P0vc0QZ0B0FWhkYDMBj4CruxSR4Bc8uaFxcxh+FbA7SfH8QY+l4Z2wCOIwEulS+q8kF+UBxBuwwXRjxtuJEgkWLODV/yAuhKaAg==</CipherValue>
          </CipherData>
      </EncryptedData>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <trace enabled="false" localOnly="false"/>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="false" targetFramework="4.5.2"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1; Trusted_Connection=yes" cookieless="false" timeout="30"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <!--<system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>-->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>